i. Patients are identified by SSN, and their names, addresses, and also ages.
ii. Doctors are identified by an SSN, for each doctor, the name, specialty and years
of experience must be recorded.
iii. Each pharmaceutical company is identified by name and has a phone number.
iv. For each drug, the trade name and formula must be reordered. Each drug is sold
by a given pharmaceutical company, and the trade name identifies a drug uniquely
from among the products of that company. If a pharmaceutical company is
deleted, you need not keep track of its products any longer.
v. Each pharmacy has a name, address, and phone number.
vi. Every patient has a primary physician. Every doctor has at least one patient.
vii. Each pharmacy sells several drugs and has a price for each. A drug could be sold
at several pharmacies, and the price could vary from one pharmacy to another.
viii. Doctors prescribe drugs for patients. A doctor could prescribe one or more drugs
for several patients, and a patient could obtain prescriptions from several doctors.
Each prescription has a date and a quantity associated with it. You can assume
that if a doctor prescribes the same drug for the same patient more than once, only
the last such prescription needs to be stored.
ix. Pharmaceutical companies have long-term contracts with pharmacies. A
pharmaceutical company can contract with several pharmaceutical companies.
For each contract, you have to store a start date, and end date, and the text of the
contract.
x. Pharmacies appoint a supervisor for each contract. There must always a supervisor
for each contract

SOME MORE REQUIREMENTS

PATIENT PROFILE INFORMATION(Clinic ID Source of Patient Type of Treatment Start Date Transfer In Family Name and First Name Language Gender Link Patient Age (years) Weight Height BSA Address, City, State/Province, District Contact Person and Tel )
MEDICAL HISTORY( Past health history,family history,Cultural assessmentFunctional assessment (including activities of daily living))
LOGIN,LOGOUT AND PASSWORDS (change/reset password,username)
NEW USER CREDENTIALS(Full Names,Email,Contact information,Address)
HOSPITAL INFORMATION (contact information,branches)
DRUG INFORMATION (Categories,cost,manufacturer,drug_name,stock_remaining,Form_of_drug,images,quantity)
PATIENT PRESCRIPTION(dosage,drug_name)
DIFFERENT TYPE OF USERS (PATIENT,PHARMACIST ,DOCTOR)
PAYMENT METHODS(M-PESA,CARDS,PAYPAL,PAYONEER,CASH ON DELIVERY,CASH ON PICKUP)
FEEDBACK(Reviews,Ratings)
